*{margin:0;padding:0;box-sizing:border-box;font-family:sans-serif}
body{background:linear-gradient(135deg,#667eea,#764ba2)}
.dark{background:#111;color:white}

.center{display:flex;height:100vh;justify-content:center;align-items:center}

.glass{
background:rgba(10, 16, 169, 0.25);
backdrop-filter:blur(12px);
padding:25px;
border-radius:12px;
display:flex;
flex-direction:column;
gap:10px;
width:280px;
animation:fade 1s}

input{padding:10px;border:none;border-radius:5px}

button{
padding:10px;
border:none;
background:#2563eb;
color:white;
border-radius:6px;
cursor:pointer}

.sidebar{
position:fixed;
width:230px;
height:100%;
background:#111;
color:white;
padding:20px}

.sidebar a{
display:block;
margin:20px 0;
cursor:pointer}

#badge{
background:red;
padding:2px 7px;
border-radius:50%;
margin-left:6px}

.main{
margin-left:230px;
padding:20px}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px}

.avatar{
border-radius:50%}

.grid{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(230px,1fr));
gap:20px}

.card{
background:rgba(255,255,255,.35);
backdrop-filter:blur(10px);
padding:10px;
border-radius:12px;
text-align:center;
transition:.3s}

.card:hover{
transform:translateY(-6px)}

.card img{
width:100%;
border-radius:10px}

.wish{
cursor:pointer;
font-size:20px}

.star{
color:gold}

.hide{display:none}

@keyframes fade{
from{opacity:0;transform:translateY(20px)}
to{opacity:1}
}

@media(max-width:768px){
.sidebar{width:120px}
.main{margin-left:120px}
}